body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    padding: 10px;
    margin: auto;
}

#main{
    min-height: 100%;
    display: flex;
    align-items: center;
  }

td, th{
    padding: 10px;
    border: 1px solid;
}

.brownCell{
    box-shadow: 0em 0 1em 1ex rgba(0,0,0,0.1);
  background-image: radial-gradient(ellipse 300% 110% at center,
  rgba(219, 41, 41, 0.2) 0%, 
  rgba(104, 20, 20, 0.4) 49%,
  rgba(100, 30, 48, 0.3) 50%,
  rgba(70, 12, 12, 0.2) 100%) !important;
}
.greenCell{
    background-image: radial-gradient(ellipse 300% 110% at center,
  rgba(26, 129, 112, 0.2) 0%, 
  rgba(16, 107, 119, 0.4) 49%,
  rgba(35, 121, 136, 0.3) 50%,
  rgba(42, 156, 132, 0.2) 100%) !important;
}

#gameTable{
  margin: 20px auto;
  background: white;
}

.container-fluid{
  text-align: center;
}

.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(238, 160, 231) 50%, rgb(215, 238, 153) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:7s;
}

.bg3 {
  animation-duration:10s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}